*.iml
*.class
*.idea
*target
*.metadata
*.classpath
*.project 
*.settings 
*.DS_Store
*.tmp
reachability-analysis/soot/src/main/generated
reachability-analysis/soot/eclipse
reachability-analysis/soot/doc
