*.iml
*.class
*.idea
*target
*.metadata
*.classpath
*.project
*.settings
*.DS_Store
*.tmp
*.lst
*/jmtrace.log
*jshrink_caches/
jshrink/soot/doc
jshrink/soot/eclipse
jshrink/soot-3.2/doc
jshrink/soot-3.2/eclipse
jshrink/soot-3.2/src/main/generated
jshirnk/soot/src/main/generated
experiment_resources/src
*.o
*.jar
experiment_resources/jshrink-mtrace/build/
experiment_resources/output_log/
experiment_resources/sample-projects/
experiment_resources/size_data.csv
jshrink/src
